/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* ========================================= Global =========================================*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

body h1{
    color: #282f59;
}

body p{
    color: #7C7C7C
}

body a {
    text-decoration: none;
    color: whitesmoke
}

/* gradient colors */
:root{
    --gradient-1: linear-gradient(to bottom right, #3333ff 0%, #66ffcc 100%);

    --gradient-2 : linear-gradient(to bottom right, #009999 0%, #99ff33 100%);

    --gradient-3 : linear-gradient(to bottom right, #6600cc 0%, #ff99ff 100%);

    --gradient-4 : linear-gradient(to bottom right, #ff9900 0%, #ff3399 100%);
}

/* =============================================================================================== */

#upper {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

.map-section,
.contact-row {
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 20px;
}

.map-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-left: 15px;
}

.map-section{
    border-right: 2px solid #282f59;
}

.contact-row {
    width: 100%;
}

.contact-text {
    padding: 20px;
}

.contact-info {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

.contact-email,
.contact-phone,
.contact-address {
    margin-bottom: 15px;
}

.contact-row h1 {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
}

.contact-row h4{
    font-weight: normal;
    font-size: 18px;
}

.contact-info-group h4{
    font-weight: bold;
    color: #282f59
}

.contact-address p{
    font-weight: normal;
    color: #282f59;
}

/* =============================================================================================== */
